<launch>
    <node name="MouseTracker" pkg="kpca_gesture_identifier" type="MouseTrackerNode.py" />
    <node name="TrajectoryNormalizer" pkg="kpca_gesture_identifier" type="TrajectoryNormalizerNode.py" />
    <node name="Matcher" pkg="kpca_gesture_identifier" type="NormalizedTrajectoryMatcherNode.py" output="screen" />

    <!-- <node name="Saver" pkg="kpca_gesture_identifier" type="TrajectorySaverNode.py" output="screen" /> -->

    <param name="interpolation_strategy" value="default" />
    <rosparam command="load" file="$(find kpca_gesture_identifier)/data/gestures.yaml" />
</launch>
