<launch>
    <node name="MouseTracker" pkg="kpca_gesture_identifier" type="MouseTrackerNode.py" />
    <node name="TrajectoryNormalizer" pkg="kpca_gesture_identifier" type="TrajectoryNormalizerNode.py" />
    <node name="Matcher" pkg="kpca_gesture_identifier" type="NormalizedTrajectoryMatcherNode.py" />

    <rosparam command="load" file="$(find kpca_gesture_identifier)/data/gestures.yaml" />
</launch>
